body {
  background-color: #222;
  color: white;
}

.group {
  list-style-type: none;
  float: left;
  background-color: #2b2a2b;
  border: 1px solid white;
  margin: 4px;
  padding: 8px;
  border-radius: 6px;
}
.group .vertical {
  float: left;
}
.group .horizontal {
  display: block;
}

.node {
  background-color: #657a80;
  border: 1px solid white;
  margin: 4px;
  padding: 10px;
  display: inline-block;
}
.node.vertical {
  display: inline-block;
}
.node.horizontal {
  display: block;
}

.placeholder {
  fill: #657a80;
  stroke: white;
}